<% content_for :header do %>
<h2 class="pull-left"><i class="icon-facebook-sign"></i> Edit Web Presence</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Contacts", '#', class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Edit Note", '#', class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>
<div class="matter">
<% end %>
	<div class="container-fluid min-height">
		<%= render 'presences/form' %>
	</div>
</div> <!-- matter -->
