<h2 class="text_center">Add Web Presence</h2>

<div class="row-fluid">

	<br/>

	<div class="clear">
	</div>

	<div class="table_container beige">
			<%= render "presences/form" %>
	</div>

	<br/>

</div>