<% content_for :header do %>
<h2 class="pull-left"><i class="icon-tasks"></i> Edit Task</h2>
    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Tasks", tasks_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Edit Task", "#", class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>
<div class="matter">
<% end %>
	
	<div class="container-fluid min-height">
	<%= render "tasks/form" %>
	</div>

</div>