.status-pending {
    background-color: #8dd8ee !important;
}
.status-sent-letter {
    background-color: #a8e651 !important;
}
.status-setting-up-a-meeting {
    background-color: #5584ed !important;
}
.status-presented-vision {
    background-color: #f7f156 !important;
}
.status-following-up {
    background-color: #5584ed !important;
}
.status-special-gift {
    background-color: #60ad15 !important;
}
.status-monthly-supporter {
    background-color: #60ad15 !important;
}
.status-cannot-give {
    background-color: #ad1564 !important;
}
.status-no-response {
    background-color: #ad1564 !important;
}
.progress-pending .bar {
    @include linear-gradient(#BBE8F5, #8dd8ee);
}
.progress-sent-letter .bar {
    @include linear-gradient(#CBF097, #a8e651);
}
.progress-setting-up-a-meeting .bar {
    @include linear-gradient(#99B5F4, #5584ed);
}
.progress-presented-vision .bar {
    @include linear-gradient(#FAF79A, #f7f156);
}
.progress-following-up .bar {
    @include linear-gradient(#99B5F4, #5584ed);
}
.progress-special-gift .bar {
    @include linear-gradient(#A0CE73, #60ad15);
}
.progress-monthly-supporter .bar {
    @include linear-gradient(#A0CE73, #60ad15);
}
.progress-cannot-give .bar {
    @include linear-gradient(#CE73A2, #ad1564);
}
.progress-no-response .bar {
    @include linear-gradient(#CE73A2, #ad1564);
}
.support_progress {
    .progress{
        height: 30px !important;
        line-height: 23px;
        margin: 0px 0px !important;
    }
}