	
<h2 class="text_center">Add Phone Number</h2>

<div class="row-fluid">
	
	<br/>
	
	<div class="clear">
	</div>
	
	<div class="span2 offset5">
			<%= render "numbers/form" %>
	</div>
	
	<br/>
	
</div>