<%= render  :layout => 'shared/widget', :locals => { :title => 'Overall Status' } do %>
    <div class="padd">
        <% [:initial, :letter_sent, :contacting, :seen_presentation, :following_up, :one_time_gift, :monthly_gift, :not_giving, :no_response].each do |state | %>
            <%=raw status_progress_bar(state) %>
        <% end %> 
    </div>
    <div class="widget-foot text-center">
        <strong>Total Contacts</strong>: <%= total_contacts %>
    </div>
<% end %>