<div class="widget">
    <!-- Widget head -->
    <div class="widget-head">
        <div class="pull-left">Overall Status</div>
        <div class="widget-icons pull-right">
            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
        </div>  
        <div class="clearfix"></div>
    </div>              

    <!-- Widget content -->
    <div class="widget-content">
        <div class="padd">
            <% [:initial, :letter_sent, :contacting, :seen_presentation, :following_up, :one_time_gift, :monthly_gift, :not_giving, :no_response].each do |state | %>
                <%=raw status_progress_bar(state) %>
            <% end %> 
        </div>
    
        <div class="widget-foot text-center">
            <strong>Total Contacts</strong>: <%= total_contacts %>
        </div>
    </div>
</div>