<h2 class="text_center">Edit Contact</h2>

<div class="row-fluid">
	
	<div class="table_container beige">
		<%= render 'edit_form' %>
	</div>

	<div class="clear"></div>
	<!-- <%= link_to 'Show', @contact, :class => "pull-right" %>
	<%= link_to 'Back', contacts_path, :class => "pull-right"%>
	 -->
</div>