
<h2 class="text_center">New Contact</h2>

<div class="row-fluid">

	<br/>

	<div class="clear">
	</div>
	
	<div class="form_container span6 offset3 relative">
	<%= render "form" %>
	</div>
	
	<br/>

</div>