<% content_for :header do %>
<h2 class="pull-left"><i class="icon-money"></i> Edit Donation</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Donations", donations_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Edit Donation", edit_donation_path(@donations), class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>
<div class="matter">
<% end %>
	<div class="container-fluid min-height">
		<%= render 'donations/form' %>
	</div>
</div> <!-- matter -->
