/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= reqire_twitter/bootstrap
 */
body{
	background-color: #63A69F !important;
}
table{
	background-color: white !important;
}
.table{
	margin-bottom: 0px !important;
}
/*table.bottom{
	margin-bottom: 20px !important;
}*/
.navbar-inner{
	border-radius: 0px !important;
}
fieldset {
    border: 0;
}
a.hidden{
	display: none;
}
.checkbox{
	width: 24px !important;
	height: 19px;
}
table.index tr{
	height: 40px;
}
.clear{
	display: block;
	clear: both;
	height: 1px;
}
.red{
	background-color: red;
}
table.contact td{
	text-transform:capitalize;
	width: 50% !important;
}
.bold{
	font-weight: bold;
}
.text_center{
	text-align:center;
}
.attribute_container{
}
.relative{
	position: relative;
}
.attribute_header{
	font-weight: bold;
	font-size: 18px;
}
.text_right{
	text-align: right !important;
}
.text_center{
	text-align: center !important;
}


/*.pagination span{
	border: none !important;
}
.pagination a{
	border: none !important;
}*/


.current {
 /* padding-right: 12px !important;*/
  background-repeat: no-repeat !important;
  background-position: right center !important;
}
a.white_link{
	color: white;
}
.asc {
  background-image: url(/images/up_arrow.gif) !important;
}

a .desc {
  background-image: url(/images/down_arrow.gif);
}
.hr{
	background : #63A69F;
	width : 100%;
	height : 1px;
}
table.uniform th{
	width: 20%;
}
.tag_container{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
.nav-pills > li {
float: none !important;
}
.nav-pills > li > a {
	padding-top: 3px !important;
	padding-bottom: 0px !important;
}
.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

