/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
fieldset {
    border: 0;
}
a.hidden{
	display: none;
}
.checkbox{
	width: 24px !important;
	height: 19px;
}
table.index tr{
	height: 40px;
}
.clear{
	display: block;
	clear: both;
	height: 1px;
}
.red{
	background-color: red;
}
table.contact td{
	text-transform:capitalize;
}
.bold{
	font-weight: bold;
}
.text_center{
	text-align:center;
}
.attribute_container{
	position: absolute;
	top: 0px;
	right: 0px;
}
.relative{
	position: relative;
}
.attribute_header{
	font-weight: bold;
	font-size: 18px;
}
.text_right{
	text-align: right !important;
}
.text_center{
	text-align: center !important;
}