/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= stub mixins
 *= require jquery.ui.all
 *= require font-awesome
 *= reqire_twitter/bootstrap
 *= require macadmin/style
 *= require macadmin/uniform.default
 *= require macadmin/widgets
 *= require macadmin/fullcalendar
 *= require macadmin/jquery.cleditor
 *= require macadmin/prettyPhoto
 *= require macadmin/rateit
 *= require macadmin/fullcalendar
 *= require macadmin/bootstrap-toggle-buttons
 */
 .hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.widget-chart {
    height: 250px;
    max-width: 100%;
    width: 100%;
}
.sort-spacer {
    padding: 0px 5px;
}
a.white_text{
    color: white !important;
}
.contact-support-state-label .label {
    text-transform: uppercase;
    padding: 3px;
    font-size: 14px;
}
.tag_cloud_entry_1 { font-size: 1.0em; }
.tag_cloud_entry_2 { font-size: 1.4em; }
.tag_cloud_entry_3 { font-size: 1.6em; }
.tag_cloud_entry_4 { font-size: 1.8em; }
.progress .bar {
    font-weight: bold;
    font-size: 11px !important;
}
.contact-details {
    border-bottom: 1px solid #dddddd;
    padding: 5px;
}
.contact-details img {
    max-width: 100%;
    border: 1px solid #dddddd;
}
td.actions {
    width: 20%;
    max-width: 20%;
    word-wrap: break-word;
}
.clear {
    display: block;
    clear: both;
    height: 1px;
}