// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
// .index th{
// 	text-align:center;
// }
// .center{
// 	text-align:center !important;
// }
.form_container{

}
.beige{
	background-color: #F2E1AC !important;
	padding: 1%;
}
.round{
	@include border-radius(5px);
}
.table_container{
	@include border-radius(5px);
	padding: 1%;
	background-color: white;
}
.pagination a, .pagination span{
	color: #911F1F;
	background-color: transparent;
}