// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
// .index th{
// 	text-align:center;
// }
// .center{
// 	text-align:center !important;
// }
