// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
// .index th{
// 	text-align:center;
// }
// .center{
// 	text-align:center !important;
// }
.form_container{

}
.beige{
	background-color: #F2E1AC !important;
	padding: 1%;
}
.round{
	@include border-radius(5px);
}
.table_container{
	@include border-radius(5px);
	padding: 1%;
	background-color: white;
}
.pagination a, .pagination span{
	color: #911F1F;
}
table.phone_number{
	.normal{
		width: 42%;
	}
}
table.occasions, table.donations, table.presence{
	.normal{
		width: 28%;
	}
}
table.tasks{
	.normal{
		width: 20%;
	}
}
// .pagination span{
// 	padding: 0 6px !important;
// }
// .pagination{
// 	.current{
// 		padding: 0px 19px !important;
// 		border-left-width: 1px !important ;
// 	}
// }
// .page .current li:first-child span {
// 	
// }