// Place all the styles related to the support_states controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.support_progress{
	.progress{
		height: 30px !important;
		line-height: 23px;
		margin: 0px 0px !important;
	}
}