<% content_for :header do %>
<h2 class="pull-left"><i class="icon-calendar"></i> New Special Date</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <%= link_to "Dashboard", root_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "Special Dates", occasions_path, class: "bread-crumb" %>
      <span class="divider">/</span> 
      <%= link_to "New Special Date", new_occasion_path, class: "bread-current" %>
    </div>
<% end %>

<% content_for :stats do %>
<div class="matter">
<% end %>
	<div class="container-fluid">
		<%= render 'occasions/form' %>
	</div>
</div> <!-- matter -->
