<header>
    <div class="container-fluid">
      <div class="row-fluid">

        <!-- Logo section -->
        <div class="span4">
          <!-- Logo. -->
          <div class="logo">
            <h1><a href="/">Team<span class="bold">Builder</span></a></h1>
            <p class="meta">A tool for tracking your support</p>
          </div>
          <!-- Logo ends -->
        </div>

        <!-- Button section -->
        <div class="span4">
        </div>

        <div class="span4">

          <div class="header-data text-right">

            <div class="hdata">
              <div class="mcol-left">
                <i class="icon-ok bred"></i> 
              </div>
              <div class="mcol-right">
                <p><a href="#"><%= number_of_overdue_tasks %></a> <em>overdue</em></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="hdata">
              <div class="mcol-left">
                <i class="icon-group bblue"></i> 
              </div>
              <div class="mcol-right">
                <p><a href="#"><%= number_of_contacts %></a> <em>contacts</em></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="hdata">
                <div class="mcol-left">
                    <i class="icon-calendar bgreen"></i> 
                </div>
                <div class="mcol-right">
                    <p><a href="#"><%= occasions_today %></a> <em>occasions</em></p>
                </div>
                <div class="clearfix"></div>
            </div>                        

          </div>

        </div>

        <!-- Data section -->

      </div>
    </div>
  </header>